:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #000000; /* 主色调改为黑色 */
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  color: var(--color-primary); /* 标题颜色改为黑色 */
  margin-bottom: 20px;
  font-size: 24px;
}

.controllTD3 {
  font-size: 16px;
  padding: 10px;
  border: 2px solid var(--color-primary); /* 边框颜色改为黑色 */
  border-radius: 8px;
  width: 300px; /* 调整宽度 */
  outline: none;
}

.controllTD3:focus {
  border-color: #2800FF; /* 聚焦时边框颜色 */
}

